h1 {
  text-align: center;
}

// ul {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
// }
.brewcontainer {
  padding-bottom: 2rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;

  li {
    background: rgba(177, 206, 255, 0.233);
    box-shadow: 2px 2px rgba(177, 206, 255, 0.116);
    border-radius: 10px;
    padding: 1rem;
    //margin-right: 10px;
    // width: 20%;
    height: auto;
    // margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;

    p {
      margin: 0;
    }

    p.name {
      font-weight: bold;
      font-size: 1.1rem;
    }

    .ps {
      padding-top: 1rem;

      p.country {
        text-transform: uppercase;
        font-size: 0.9rem;
      }
      p.stateandcity {
        text-transform: uppercase;
        font-size: 0.7rem;
      }
    }

    .whatkindof {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: rgba(177, 206, 255, 0.152);
      box-shadow: 2px 2px rgba(177, 206, 255, 0.156);
      border-radius: 5px;
      flex-grow: 1;
      margin: 1rem;
      padding: 1rem;
      p.stateandcity {
        text-transform: uppercase;
        font-size: 0.8rem;
      }
      p.stateandcitySerif {
        // text-transform: uppercase;
        font-size: 1rem;
        font-family: "Courgette", cursive;
        padding-top: 0.5rem;
      }
    }
    a {
      display: flex;
      //align-self: flex-end;
      justify-content: center;
      img {
        height: 1.5rem;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .brewcontainer {
    ul {
      grid-template-columns: auto;
    }
  }
}
